In [3]:
import sys
from load_data import load_csvdata

In [7]:
ipl_auction_data = load_csvdata("../../data/raw/IPL IMB381IPL2013.csv")

In [8]:
ipl_auction_data.head(5)

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [9]:
list(ipl_auction_data.columns)

['Sl.NO.',
 'PLAYER NAME',
 'AGE',
 'COUNTRY',
 'TEAM',
 'PLAYING ROLE',
 'T-RUNS',
 'T-WKTS',
 'ODI-RUNS-S',
 'ODI-SR-B',
 'ODI-WKTS',
 'ODI-SR-BL',
 'CAPTAINCY EXP',
 'RUNS-S',
 'HS',
 'AVE',
 'SR-B',
 'SIXERS',
 'RUNS-C',
 'WKTS',
 'AVE-BL',
 'ECON',
 'SR-BL',
 'AUCTION YEAR',
 'BASE PRICE',
 'SOLD PRICE']

In [10]:
ipl_auction_data.head(5).transpose()

                         0             1            2          3             4
Sl.NO.                   1             2            3          4             5
PLAYER NAME    Abdulla, YA  Abdur Razzak  Agarkar, AB  Ashwin, R  Badrinath, S
AGE                      2             2            2          1             2
COUNTRY                 SA           BAN          IND        IND           IND
TEAM                  KXIP           RCB          KKR        CSK           CSK
PLAYING ROLE    Allrounder        Bowler       Bowler     Bowler       Batsman
T-RUNS                   0           214          571        284            63
T-WKTS                   0            18           58         31             0
ODI-RUNS-S               0           657         1269        241            79
ODI-SR-B               0.0         71.41        80.62      84.56         45.93
ODI-WKTS                 0           185          288         51             0
ODI-SR-BL              0.0          37.6         32.9       36.8           0.0
CAPTAINCY EXP            0             0            0          0             0
RUNS-S                   0             0          167         58          1317
HS                       0             0           39         11            71
AVE                    0.0           0.0        18.56        5.8         32.93
SR-B                   0.0           0.0       121.01      76.32        120.71
SIXERS                   0             0            5          0            28
RUNS-C                 307            29         1059       1125             0
WKTS                    15             0           29         49             0
AVE-BL               20.47           0.0        36.52      22.96           0.0
ECON                   8.9          14.5         8.81       6.23           0.0
SR-BL                13.93           0.0         24.9      22.14           0.0
AUCTION YEAR          2009          2008         2008       2011          2011
BASE PRICE           50000         50000       200000     100000        100000
SOLD PRICE           50000         50000       350000     850000        800000

In [11]:
ipl_auction_data.shape

(130, 26)